.background{
  -fx-background-color : rgb(33,37,43);
}

.label{
  -fx-text-fill : rgb(215,218,224);
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
  -fx-background-color: rgb(85,172,238);
}

.table-view .column-header .label{
  -fx-text-fill: rgb(215,218,224);
  -fx-font-weight: bold;
  -fx-border-color: rgb(215,218,224);
}

.table-row-cell:hover{
  -fx-background-color:  rgba(85,172,238,0.3);
}
