.background{
    -fx-background-color: rgb(40,44,52);
}

.label{
    -fx-text-fill : rgb(215,218,224);
}

#compareButton{
    -fx-border-color: rgb(254, 241, 96);
    -fx-text-fill: rgb(254, 241, 96);
    -fx-border-radius:5px;
}

#compareButton:hover{
    -fx-background-color : rgb(254, 241, 96);
    -fx-text-fill: rgb(40,44,52);
}

#textField{
    -fx-text-fill : rgb(215,218,224);
}