.background{
  -fx-background-color : rgb(33,37,43);
}

.label{
  -fx-text-fill : rgb(215,218,224);
}

VBox JFXButton:hover{
  -fx-background-color: rgb(85,172,238);
}

HBox JFXButton:hover,#addToFavourites:hover{
  -fx-background-color:  rgb(85,172,238);
  -fx-text-fill : rgb(215,218,224);
}

#addToFavourites{
  -fx-background-color: transparent;
}

#buttonSearch:hover{
  -fx-background-color:  black;
}

.jfx-hamburger StackPane {
  -fx-background-color: rgb(85,172,238);
  -fx-background-radius : 5px;
}

#searchBar{
  -fx-text-fill : rgb(215,218,224);
}

#loginField, #passwordField, #passwordBisField,#oldPassword,#newPassword,#newPassword2{
  -fx-background-color : rgb(40,44,52);
  -fx-text-fill : rgb(215,218,224);
}

#validateConnectionButton,#changePasswordButton,#creatButton{
  -fx-text-fill:rgb(0, 177, 106);
  -fx-border-color:rgb(0, 177, 106);
  -fx-border-radius:5px;
}

#validateConnectionButton:hover,#changePasswordButton:hover,#creatButton:hover{
  -fx-text-fill:rgb(33,37,43);
  -fx-background-color:rgb(0, 177, 106);
  -fx-border-radius:5px;
}

#searchButton{
  -fx-text-fill:rgb(77, 174, 196);
  -fx-border-color:rgb(77, 174, 196);
  -fx-border-radius:5px;
}

#searchButton:hover{
  -fx-text-fill:rgb(40,44,52);
  -fx-background-color:rgb(215,218,224);
  -fx-border-radius:5px;
}

#delButton{
  -fx-text-fill:rgb(240, 52, 52);
  -fx-border-color:rgb(240, 52, 52);
  -fx-border-radius:5px;
}

#delButton:hover{
  -fx-border-color:rgb(215,218,224);
  -fx-border-radius:3px;
  -fx-background-color:rgb(240, 52, 52);
  -fx-text-fill:rgb(215,218,224);
}

#delHobbyButton,#delKeywordButton{
  -fx-text-fill:rgb(205, 65, 65);
}

#delHobbyButton:hover,#delKeywordButton:hover{
  -fx-background-color:white;
}

#addHobbyButton,#addKeywordButton{
  -fx-text-fill:rgb(90, 161, 57);
}

#addHobbyButton:hover,#addKeywordButton:hover{
  -fx-background-color:white;
}

#viewStatButton{
  -fx-text-fill:rgb(191, 85, 236);
  -fx-border-color:rgb(191, 85, 236);
  -fx-border-radius:3px;
}

#viewStatButton:hover{
  -fx-text-fill:rgb(40,44,52);
  -fx-background-color:rgb(191, 85, 236);
  -fx-border-radius:3px;
}