.background{
  -fx-background-color : rgb(33,37,43);
}

.label{
  -fx-text-fill : rgb(215,218,224);
}

#pieChart,#pieChart1{
  -fx-background-color : rgb(40,44,52);
}

.chart-legend {
  -fx-background-color: rgb(33,37,43);
}

#comparebtn{
  -fx-border-color: rgb(254, 241, 96);
  -fx-text-fill: rgb(254, 241, 96);
  -fx-border-radius:5px;
}

#comparebtn:hover{
  -fx-background-color : rgb(254, 241, 96);
  -fx-text-fill: rgb(40,44,52);
}